<ng-container *ngIf="post$ | async as post; else loading">
	<div *ngIf="post" class="post my-3 px-3 py-3 border">
		<div class="post__header d-flex justify-content-between">
			<h1 class="post__title">{{post.title}}</h1>
	
			<a class="navbar-brand" routerLink="/">Go back ></a>
		</div>
	
		<div class="post__info">
			<div class="post__author">Author: {{post.author}}</div>
	
			<div class="post__date">{{post.date | date:'mediumDate'}}</div>
		</div>
	
		<div class="post__content">
			<p class="text-justify">
				<quill-view-html [content]="post.content"></quill-view-html>
			</p>
		</div>
	</div>
</ng-container>

<ng-template #loading>
	<div class="text-center">
		<div class="spinner-border text-secondary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</ng-template>